{
    "bot_token": "123456:ABC-DEF...",
    "admin_id": 123456789,
    "max_concurrent_global": 2,
    "max_concurrent_per_user": 1,
    "cache_limit_gb": 4,
    "cleanup_interval_sec": 3600,
    "max_telegram_size_mb": 50,
    "compress_strategy": "downgrade_quality",
    "max_telegram_caption_length": 1024,
    "url_whitelist": ["youtube.com", "youtu.be", "youtube-nocookie.com", "music.youtube.com", "tiktok.com", "vm.tiktok.com", "vt.tiktok.com", "instagram.com", "twitter.com", "x.com", "reddit.com", "v.redd.it", "soundcloud.com", "bandcamp.com", "facebook.com", "fb.watch", "twitch.tv", "clips.twitch.tv", "vimeo.com", "vk.com", "vkvideo.ru", "rutube.ru", "pinterest.com", "pin.it", "dailymotion.com", "dai.ly", "streamable.com"],
    "block_private_ips": true,
    "yt_dlp_auto_update": true,
    "yt_dlp_update_interval_hours": 48,
    "healthcheck_port": 8080,
    "log_max_bytes": 10485760,
    "log_backup_count": 5,
    "placeholder_video_file_id": "",
    "placeholder_audio_file_id": "",
    "default_video_quality": "best",
    "max_video_height": 1080
}
